### Question 7 - Using the data from Question 4, write code to analyze the data and answer the following questions Note -
1. Draw plots to demonstrate the analysis for the following questions for better visualizations
2. Write code comments wherever required for code understanding
#### Insights to be drawn -
* Get all the Earth meteorites that fell before the year 2000
* Get all the earth meteorites co-ordinates who fell before the year 1970
* Assuming that the mass of the earth meteorites was in kg, get all those whose mass was more than 10000kg

### Import Data and Required Packages

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv("Nasa_data.csv")
df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50...."
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56..."
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'type': 'Point', 'coordinates': [-113, 54.216..."
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.88333,-99.90000,"{'type': 'Point', 'coordinates': [-99.9, 16.88..."
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.16667,-64.95000,"{'type': 'Point', 'coordinates': [-64.95, -33...."

In [2]:
df.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'geolocation'],
      dtype='object')

In [3]:
df.isna().sum()

name           0
id             0
nametype       0
recclass       0
mass           1
fall           0
year           0
reclat         0
reclong        0
geolocation    0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         28 non-null     object
 1   id           28 non-null     int64
 2   nametype     28 non-null     object
 3   recclass     28 non-null     object
 4   mass         27 non-null     float64
 5   fall         28 non-null     object
 6   year         28 non-null     object
 7   reclat       28 non-null     float64
 8   reclong      28 non-null     float64
 9   geolocation  28 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 2.3+ KB

In [5]:
df['fall'].unique()

array(['Fell'], dtype=object)

### 1.Get all the Earth meteorites that fell before the year 2000

In [6]:
import datetime
for i in range(len(df)):
    df['Year'] = datetime.datetime.strptime(df['year'][i], '%Y-%m-%dT%H:%M:%S.%f').strftime('%Y')

In [7]:
df['Year'] = df['Year'].apply(np.int64)

In [8]:
df[df['Year'] < 2000]['name'].unique()

array(['Aachen', 'Aarhus', 'Abee', 'Acapulco', 'Achiras', 'Adhi Kot',
       'Adzhi-Bogdo (stone)', 'Agen', 'Aguada', 'Aguila Blanca',
       'Aioun el Atrouss', 'Aïr', 'Aire-sur-la-Lys', 'Akaba', 'Akbarpur',
       'Akwanga', 'Akyumak', 'Al Rais', 'Al Zarnkh', 'Alais', 'Albareto',
       'Alberta', 'Alby sur Chéran', 'Aldsworth', 'Aleppo', 'Alessandria',
       'Alexandrovsky', 'Alfianello'], dtype=object)

### 2.Get all the earth meteorites co-ordinates who fell before the year 1970

In [9]:
df[df['Year'] < 1970]['reclat'].unique()

array([ 50.775  ,  56.18333,  54.21667,  16.88333, -33.16667,  32.1    ,
        44.83333,  44.21667, -31.6    , -30.86667,  16.39806,  19.08333,
        50.66667,  29.51667,  29.71667,   8.91667,  39.91667,  24.41667,
        13.66033,  44.11667,  44.65   ,   2.     ,  45.82133,  51.78333,
        36.23333,  44.88333,  50.95   ,  45.26667])

### 3.Assuming that the mass of the earth meteorites was in kg, get all those whose mass was more than 10000kg

In [10]:
df[df['mass'] > 10000]['name'].unique()

array(['Abee', 'Agen', 'Aïr', 'Akyumak', 'Alfianello'], dtype=object)